*.swo
*.swp
.DS_Store
.idea
.mypy_cache
__pycache__
/plans/
Makefile
build
dist
docs/doctrees
scinoephile.egg-info
test/.coverage
test/htmlcov
/scinoephile/data/yue/*.pkl
/scinoephile/data/cmn_yue/dictionaries/cuhk.db
/test/data/*/output/**/*.html
/test/data/*/output/**/*.json
/test/data/*/output/**/*.png
/test/data/*/output/**/*.wav
/test/data/cache/**
/.venv/
