*.swo
*.swp
.DS_Store
.idea
__pycache__
scinoephile.egg-info
/local/
/test/.coverage
/test/data/*/output/**/*.html
/test/data/*/output/**/*.json
/test/data/*/output/**/*.png
/test/data/*/output/**/*.wav
/test/data/cache/**
/.venv/
